@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/* src/styles/Chat.module.css */
body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  justify-content: center;
  text-align: center;
  background-color: #121212; /* Dark background color for the entire body */
  color: #f0f0f0; /* Light text color for contrast */
}

/* Full-screen background container */
.imageContainer {
  height: 100%;
  width: 100%;
}

/* Main message style */
.message {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Consolas', monospace;
  color: #f0f0f0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #58b8f3;
  width: 10ch;
  animation: typing 1s steps(10, end), blinkCursor 0.75s step-end infinite;
  margin: 0 auto;
  display: block;
}

/* Title container centered on the screen */
.titleContainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  gap: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  font-family: 'Oswald', sans-serif;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack vertically by default (mobile-first) */
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* Desktop layout */
@media (min-width: 768px) {
  .buttonContainer {
    flex-direction: row; /* Buttons side by side on desktop */
  }
}

/* Pulsating animation */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkCursor {
  0%, 100% { border-color: transparent; }
  50% { border-color: #ffffff; }
}
